/* flex justify-evenly items-center py-2 text-xs gap-5 absolute bottom-0 left-0 w-full bg-black */

@media (max-width: 1024px) {
  .responsive-ul {
      font-size: 10px;
      font-weight: bold;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding-top: 8px;
      padding-bottom: 8px;
      gap: 5px; /* Fixed: Added 'px' for the gap value */
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background: black;
  }
}


  
@media (min-width: 1024px) {
    .responsive-ul {
        font-size: 16px;
        justify-content: space-between;
        position: static;
    }
}